$orange: #cc4b00; // (Links)
$yellow: #ffc700; // (Navigation highlight)
$light-blue: #006ef5; // (Branding)
$blue: #004eae; // (Search and Small screen navigation)
$dark_blue: #013371; // (hover/focus in navigation)
$gray: #767676; // (Meta info and placeholder text)
$dark_gray: #333333; // (Content and in-form search icon)
$white: #ffffff; // (Header links / icons and search input)

$small-bp: 500px;
$mid-bp: 900px;
